.main__categories-panel {
    height: 40px;
    width: 100%;
    background-color: #FFFFFF;
    display: inline-grid;
    justify-content: flex-start;
    column-gap: 8px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.category-item {
    grid-row-start: 1;
    background-color: #EBEBEB;
    height: 25px;
    justify-self: center;
    align-self: center;
    border-radius: 12px;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: -3px;
    border: 1px solid lightgray;
}

.category-item:hover {
    cursor: pointer;
    background-color: rgba(201, 201, 201, 0.95);
}

.category-item:first-child {
    color: #FFFFFF;
    background-color: #F6AF44;
}

.category-item p {
    display: inline-block;
    white-space: nowrap;
    margin-top: 3px;
}

.main__categories-panel::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #FFFFFF;
}

.main__categories-panel::-webkit-scrollbar
{
    height: 3px;
    background-color: #F5F5F5;
}

.main__categories-panel::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #868181;
}


