.main__footer {
    margin-top: 20px;
    height: 70px;
    flex: 0 0 auto;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.main__footer p:after {
    background-image: url("/src/icons/footer-youtube.png");
    content: "";
    display: inline-block;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-left: 7px;
}