* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.header {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    box-shadow: 0 0 5px 1px #888;
    position: relative;
    z-index: 1;
    flex: 0 0 auto;
}

.header__logo {
    font-family: Calibri, serif;
    color: #F6AF44;
    display: flex;
    margin-top: 5px;
    margin-left: 10px;
    max-height: 40px;
    overflow: hidden;
}

.header__logo:hover {
    cursor: pointer;
}

.header__logo img {
    width: 25px;
    height: 25px;
    margin-top: 3px;
    display: inline-block;
}

.header__logo h1 {
    display: inline-block;
    margin-left: 9px;
}

.header__search {
    width: 30%;
    height: 55%;
    display: flex;
}

.header__search input {
    width: 100%;
    height: 27px;
    border: 1px solid #b8b8b8;
    border-radius: 4px;
    font-family: Calibri, serif;
    font-weight: bolder;
    padding-left: 6px;
}

.header__search input:focus {
    outline: none !important;
    border: 2px solid rgba(50, 77, 255, 0.93);

}

.search__btn {
    cursor: pointer;
    width: 28px;
    height: 25px;
    margin-left: -25.5px;
    margin-top: 1px;
    background-color: #e7e7e7;
    border: none;
    border-radius: 4px;
}

.search__btn:hover {
    filter: brightness(60%);
}

.search__btn img {
    width: 15px;
    height: 15px;
}

.search__microphone {
    margin-left: 8px;
}

.search__microphone:hover {
    filter: brightness(60%);
}

.search__microphone:hover {
    cursor: pointer;
}

.header__menu {
    font-family: Calibri, serif;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.bell {
    width: 25px;
    height: 25px;
    margin-right: 9px;
    cursor: pointer;
}

.bell:hover {
    filter: brightness(60%);
}

.menu-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #F6AF44;
    border-radius: 15px;
    background-image: url("/src/icons/header/menu-icon.png");
    background-repeat: no-repeat;
    background-position: center;
}

.menu-icon:hover {
    background-color: #C1C1C1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    font-family: Calibri, serif;
    right: 9%;
    background-color: #FFFFFF;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 6px;
}

.menu-item {
    display: flex;
    flex-direction: row;
    height: 29px;
    padding-top: 7%;
    padding-left: 15%;
    border-radius: 6px;
}

.menu-item img {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-right: 5px;
}

#menu-logout {
    border-top: 1px solid #C1C1C1;
    color: #E74C3C;
}

.menu-item {
    cursor: pointer;
}

.menu-item:hover {
    background-color: #dcdcdc;
}

.dropdown:hover .dropdown-content {
    display: block;
}