.main {
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex: 1 1 auto;
    position: relative;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10px;
}

.main::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.main::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

.main::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #868181;
}
