.side-panel {
    width: 180px;
    height: 100%;
    background-color: #EBEBEB;
    flex-direction: row;
    flex: 0 0 auto;
}

@media all and (max-width: 1200px) {
    .side-panel {
        width: 45px;
    }
    .right-part {
        width: 0;
    }
    .blob.red {
        display: none;
    }
    .side-panel__info {
        display: none !important;
    }
}

.side-panel__streamers {
    height: 83%;
    border-bottom: 2px solid white;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-direction: column;
    padding-right: 10px;
}

.side-panel__streamers:hover {
    overflow-y: scroll;
    padding-right: 4px;
}

.side-panel__streamers::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.side-panel__streamers::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

.side-panel__streamers::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #868181;
}

.streamer-item {
    width: 100%;
    padding-left: 10px;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.streamer-item:hover {
    cursor: pointer;
    background-color: #d5d5d5;
}

.left-part {
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.left-part:hover {
    color: rgba(14, 26, 253, 0.95);
}

.left-part:before {
    background-image: url("/src/icons/header/cat-profile.png");
    content: "";
    display: inline-block;
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-right: 8px;
}

.right-part {
    display: flex;
    flex-wrap: nowrap;
}

.right-part p {
    margin-right: 10px;
}

.blob {
    background: black;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    height: 8px;
    width: 8px;
    transform: scale(1);
    animation: pulse-black 2s infinite;
    margin-right: 6px;
    margin-top: 5px;
}

.blob.red {
    background: rgba(255, 82, 82, 1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.side-panel__info {
    background-color: #DFDFDF;
    height: 85px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.side-panel__info p {
    text-align: center;
    margin-top: 8px;
}

.side-panel__info p::selection {
    color: #FFFFFF;
    background-color: #F6AF44;
}

.social-icons {
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.telegram-icon {
    background: url("/src/icons/sidebar/telegram.png") no-repeat;
    background-size: 24px 24px;
    height: 24px;
    width: 24px;

}

.telegram-icon:hover {
    background: url("/src/icons/sidebar/telegram-hover.png") no-repeat;
    background-size: 24px 24px;
}

.instagram-icon {
    background: url("/src/icons/sidebar/instagram.png") no-repeat;
    background-size: 24px 24px;
    height: 24px;
    width: 24px;

}

.instagram-icon:hover {
    background: url("/src/icons/sidebar/instagram-hover.png") no-repeat;
    background-size: 24px 24px;
}

.facebook-icon {
    background: url("/src/icons/sidebar/facebook.png") no-repeat;
    background-size: 24px 24px;
    height: 24px;
    width: 24px;

}

.facebook-icon:hover {
    background: url("/src/icons/sidebar/facebook-hover.png") no-repeat;
    background-size: 24px 24px;
}