.main__videos {
    min-height: 100%;
    margin-top: 10px;
    display: grid;
    grid-gap: 10px;
    align-content: start;
    grid-template-columns: repeat(auto-fill, 350px);
}

.video-item {
    background-color: #FFFFFF;
    height: 270px;
    display: grid;
    grid-template-columns: 50px auto auto 15px;
    grid-template-rows: 30px auto 30px 30px 30px;
}

.live__plate {
    width: 40px;
    height: 20px;
    border-radius: 7px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bolder;
    background-color: #FF0000;
    text-align: center;
    padding-top: 2px;
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    z-index: 1;
}

.live__plate:hover {
    cursor: pointer;
}

.info__plate {
    height: 20px;
    border-radius: 7px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bolder;
    background-color: rgba(26, 26, 28, 0.85);
    text-align: center;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    grid-row: 3;
    grid-column: 3;
    align-self: center;
    justify-self: end;
    z-index: 1;
}

.info__plate:hover {
    cursor: pointer;
}

.video-item div:first-child {
    grid-row: 1/4;
    grid-column: 1/5;
    width: 100%;
    height: 100%;
    transition: .4s;
}

.video-item div:first-child:hover {
    cursor: pointer;
    filter: brightness(65%);
    opacity: .7;
}

.pow-logo {
    visibility: hidden;
    position: absolute;
    margin: 85px 165px;
}

.video-item div:first-child:hover .pow-logo {
    visibility: visible;
}

.video-item img:nth-child(4) {
    grid-row: 4/6;
    margin: 11px 4px;
}

.video-item img:nth-child(4):hover {
    cursor: pointer;
}

.video-name {
    grid-row: 4;
    grid-column: 2/4;
    align-self: end;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 98%;
}

.video-name:hover {
    cursor: pointer;
    color: rgba(19, 33, 255, 0.93);
}

.user-name {
    grid-row: 5;
    grid-column: 2/4;
    align-self: start;
    font-size: 14px;
    color: #afafaf;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 98%;
}

.user-name:hover {
    cursor: pointer;
    color: rgba(19, 33, 255, 0.93);
}

.video-item button {
    grid-row: 4;
    grid-column: 4;
    border: none;
    background-color: #FFFFFF;
    background-image: radial-gradient(circle, rgba(85, 85, 85, 0.99) 2px, transparent 3px);
    background-size: 100% 33.33%;
    height: 23px;
    width: 13px;
    justify-self: start;
    align-self: center;
}

.video-item button:hover {
    cursor: pointer;
}





